html {
	background-color:#cccbcb;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: flex;
    color: #eeeded;
    justify-content: center;
    align-items: center;
    margin: 0;
}
main {
	            
    width: 1890px;
	height: 350px;
    margin: 0;
    border: 1px solid #cccbcc;
    background-color: #cccbcb;
    font-family: Arial, Helvetica, sans-serif;
	
}

nav{

	width:1890px;
	height: 45px;
    background-color: #491902;
	margin-top: 0;
}
    nav ul{

		list-style: none;
    	margin: 0;
	    padding: 8px;
    }
    nav ul li{
        
		display: inline-block;
    }
	nav ul li a{
        
		font-size: 1.5em;
        text-decoration: none;
        color: #fff;
        padding: 4px 20px;
    }
    nav ul li a:hover{

		background-color: #B4531A;
    }
article{

	float: left;
    margin: 30px 600px;
    width: 750px;
    height: auto;
    border:1px solid #0c0c0c;

}

h1{
    
    margin-left: 145px;
    font-size: 2em;
    text-decoration: none;
    color: #000;
   
}
h2{
    margin-left: 145px;
    font-size: 2em;
    text-decoration: none;
    color: #000;
    
}

p{
    margin-left: 14px;
    font-size: 1.1em;
    text-decoration: none;
    color: #000;
}
footer{
    clear: both;
    width: 700px;
    margin: 0 auto;
    font-size: 0.75;
    text-align: center;
    background-color: #cccbcc;
    padding: 5px;
}
